.dashboard{
  background-color: var(--dash-back);
  min-height: calc(100vh - 130px);
  margin: 0px 30px 0;
}
.App .dashboard .content{
  gap: 15px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto auto  ;
}

