.messages{ 
  background-color: white;
  border-radius: 20px;
  grid-column: 3/4;
  grid-row: 1/4;
  max-height: 542px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* width: fit-content; */
  height: 542px;
  transition: 0.3s;
}
.messages.close{
  height:50px ;
}

.messages::-webkit-scrollbar{
  display: none;
}